.f-board, .e-board {
  width: 48%;
  height: 90%;
}

.f-board {
  background: #EAFFEE;
}

.e-board {
  background: #FFF1EF;
}

.ship-image {
  max-height: 80%;
}

.player {
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.player div {
  margin-right: 10px;
}

.player-name {
  font-size: 14pt;
}

.player-ship {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.player-ship div {
  font-weight: bold;
}
