<div class="f-board" *ngIf="wiki.ready">
  <div *ngFor="let p of players.f" class="player">
    <div class="player-ship">
      <img class="ship-image" [src]="wiki.ship[p.shipId].images.small">
      <div *ngIf="wiki.playerWithShip[wiki.playerId[p.name]]">{{wiki.ship[p.shipId]['name']}}
        {{wiki.playerWithShip[wiki.playerId[p.name]]['pvp']['wins']}}/{{wiki.playerWithShip[wiki.playerId[p.name]]['pvp']['battles']}}
        {{wiki.playerWithShip[wiki.playerId[p.name]]['pvp']['battles']===0?'0':wiki.playerWithShip[wiki.playerId[p.name]]['pvp']['wins']/wiki.playerWithShip[wiki.playerId[p.name]]['pvp']['battles']*100 | number:'1.1-2'}}%
      </div>
      <div *ngIf="!wiki.playerWithShip[wiki.playerId[p.name]]">{{wiki.ship[p.shipId]['name']}}</div>
    </div>
    <div class="player-name">{{p.name}}</div>
    <div *ngIf="wiki.playerWithShip[wiki.playerId[p.name]]">{{wiki.player[wiki.playerId[p.name]]['statistics']['pvp']['wins']}}/{{wiki.player[wiki.playerId[p.name]]['statistics']['pvp']['battles']}}</div>
    <div *ngIf="wiki.playerWithShip[wiki.playerId[p.name]]">{{wiki.player[wiki.playerId[p.name]]['statistics']['pvp']['battles']===0?'0':wiki.player[wiki.playerId[p.name]]['statistics']['pvp']['wins']/wiki.player[wiki.playerId[p.name]]['statistics']['pvp']['battles']*100 | number:'1.1-2'}}%</div>
  </div>
</div>

<div class="e-board" *ngIf="wiki.ready">
  <div *ngFor="let p of players.e" class="player">
    <div class="player-ship">
      <img class="ship-image" [src]="wiki.ship[p.shipId].images.small">
      <div *ngIf="wiki.playerWithShip[wiki.playerId[p.name]]">{{wiki.ship[p.shipId]['name']}}
        {{wiki.playerWithShip[wiki.playerId[p.name]]['pvp']['wins']}}/{{wiki.playerWithShip[wiki.playerId[p.name]]['pvp']['battles']}}
        {{wiki.playerWithShip[wiki.playerId[p.name]]['pvp']['battles']===0?'0':wiki.playerWithShip[wiki.playerId[p.name]]['pvp']['wins']/wiki.playerWithShip[wiki.playerId[p.name]]['pvp']['battles']*100 | number:'1.1-2'}}%
      </div>
      <div *ngIf="!wiki.playerWithShip[wiki.playerId[p.name]]">{{wiki.ship[p.shipId]['name']}}</div>
    </div>
    <div class="player-name">{{p.name}}</div>
    <div *ngIf="wiki.playerWithShip[wiki.playerId[p.name]]">{{wiki.player[wiki.playerId[p.name]]['statistics']['pvp']['wins']}}/{{wiki.player[wiki.playerId[p.name]]['statistics']['pvp']['battles']}}</div>
    <div *ngIf="wiki.playerWithShip[wiki.playerId[p.name]]">{{wiki.player[wiki.playerId[p.name]]['statistics']['pvp']['battles']===0?'0':wiki.player[wiki.playerId[p.name]]['statistics']['pvp']['wins']/wiki.player[wiki.playerId[p.name]]['statistics']['pvp']['battles']*100 | number:'1.1-2'}}%</div>
  </div>
</div>

<div *ngIf="!wiki.ready">Loading...</div>
